@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Font from https://www.1001fonts.com/karmatic-arcade-font.html */
@font-face {
    font-family: 'karmatic_arcaderegular';
    src: url('ka1-webfont.woff2') format('woff2'),
         url('ka1-webfont.woff') format('woff');
}

body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    font-family: 'Poppins', sans-serif;
}

.grid-container{
    width:500px;
    height: 500px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

.cell{
    margin:0;
    background-color: white;
    width:100%;
    height: 100%;
    user-select: none;
}

.cell-border{
    border:1px rgb(201, 201, 201) solid;
}


h1{
    font-family: 'karmatic_arcaderegular';
    font-size:48px;
    margin-bottom: 0;
}

.options{
    display:flex;
    align-items: center;
    gap:3rem;
}

.center-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
    background-color: transparent;
    width:100%;
    padding:0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 5px;
}

.rgbMode{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, 
    rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, 
    rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    border-radius: 5px;
    height: 25px;
    color:transparent;
    padding:1px 2px;
}

.erase, .reset{
    border-radius: 5px;
    width:112px;
    height:27px;
    margin-bottom: 8px;
    background-color: white;
}

.gridLines{
    border: 1px solid black;
    border-radius: 5px;
    width:100%;
    height:27px;
    background-color: white;
    transform: scale(1);
    transition: all 500ms ease;
}

.gridLines:hover, #colorPick:hover, .erase:hover, .reset:hover, .rgbMode:hover{
    transform: scale(1.05);
    border: 1px solid blue;
}

.gridLines:active, #colorPick:active, .erase:active, .reset:active, .rgbMode:active{
    background-color: #3e5a8e;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

#colorPick, .erase, .reset, .rgbMode{
    border:1px solid black;
    border-radius: 5px;
    transform: scale(1);
    transition: all 500ms ease;
}


input[type="range"] {
    width: 100%;
    height: 2px;
    background: #404040;
    appearance: none;
    outline: none;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 62, 62);
    cursor: ew-resize;
}

a{
    text-decoration: none;
    color:black;
    transform: scale(1.0);
    transition: all 0.3s ease;
}

a:visited{
    color:black;
}

i{
    transform: scale(1.0);
    transition: all 0.3s ease;

}

i:hover{
    transform: scale(1.2);
}